<h1>User information</h1>
<hr>

<div class="row">
  <div class="col-4">
    <h3>Current user: {{userId()}}</h3>

    <button (click)="getUser(userId() - 1)" class="btn btn-primary">Prev</button>
    &nbsp;
    <button (click)="getUser(userId() + 1)" class="btn btn-primary">Next</button>
  </div>

  <div class="col-8" *ngIf="currentUser()">
    <h3>User</h3>
    <p>Email: {{currentUser()?.email}} </p>
    <p>Name: {{fullname()}}</p>

    <img [src]="currentUser()?.avatar" class="rounded">
  </div>

  <div class="col-8 text-danger" *ngIf="!userWasFound()">User not found</div>
</div>