<h1>Add product</h1>
<hr>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="row flex-row g-3 align-items-center mb-3">
    <div class="col-auto">
      <label>Name:</label>
    </div>

    <div class="col-auto">
      <input type="text" class="form-control" formControlName="name">
    </div>

    <div class="col-auto">
      <p customLabel [color]="color" [errors]="myForm.get('name')?.errors">Temporary</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="changeColor()">
        Change color
      </button>
    </div>
  </div>
</form>


<pre class="mt-5">
{{myForm.get('name')?.errors | json}}
</pre>
<p>Color: {{color}}</p>